<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.litb.listing.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.litb.listing.domain.Product">

        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="litb_pid" jdbcType="INTEGER" property="litbPid" />
        <result column="litb_category_id" jdbcType="INTEGER" property="litbCategoryId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
        <result column="condition_note" jdbcType="VARCHAR" property="conditionNote" />
        <result column="feature" jdbcType="VARCHAR" property="feature" />
        <result column="search_term" jdbcType="VARCHAR" property="searchTerm" />
        <result column="last_modified" jdbcType="TIMESTAMP" property="lastModified" />
    </resultMap>


    <select id="selectById" resultMap="BaseResultMap">
        select * from al_product where id = #{id,jdbcType=NUMERIC}
    </select>



</mapper>